html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245);
}

.container {
  margin: 100px auto 0 auto;
  max-width: 75%;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.nav-container {
  margin: auto;
}

.nav-container svg {
  color: white;
}

hr {
  border: none;
  margin: 4px auto;
}

.image-wrapper {
  margin-left: 50px;
}

/* MOBILE LAYOUT */

@media only screen and (max-width: 600px) {
  .makeStyles-content-346 {
    padding: 0;
  }

  .MuiGrid-item {
    width: 100%;
  }

  .makeStyles-paperNoAuth-196 {
    padding: 20px;
    display: none !important;
  }

  .makeStyles-card-344 {
    padding-right: 10px;
  }

  .container {
    max-width: 100%;
  }

  .MuiGrid-container {
    margin-top: -40px;
  }
}
